.card-container {
	position: relative;
	top: 3rem;
	min-height: 260px;
	width: 500px;
	/* margin: 2rem; */
}

.card-back {
	position: absolute;
	top: 0;
	right: 0.4rem;
}
.card-back img {
	width: 65%;
}
.card-back-cvc {
	position: absolute;
	top: 40%;
	right: 25%;
	font-size: 1rem;
	letter-spacing: 2px;
}

.card-front {
	position: absolute;
	bottom: 0;
	left: 0.4rem;
	letter-spacing: 1px;
	font-size: 1rem;
}
.card-front img {
	width: 65%;
}

.card-front-logo {
	position: absolute;
	top: 1rem;
	left: 5rem;
}

.card-front-name {
	position: absolute;
	bottom: 1.4rem;
	left: 6rem;
}
.card-front-number {
	position: absolute;
	display: block;
	white-space: nowrap;
	bottom: 35%;
	left: 50%;
	transform: translate(-50%);
	font-size: 1.4rem;
	letter-spacing: 2px;
}

.card-front-date {
	position: absolute;
	bottom: 1.4rem;
	right: 6rem;
}
